<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>dev.molinero.hector.demergi</string>
		<key>Program</key>
		<string>/usr/local/bin/demergi</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		</dict>
		<key>StandardOutPath</key>
		<string>/tmp/demergi.log</string>
		<key>StandardErrorPath</key>
		<string>/tmp/demergi.log</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>
